################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Web-ASKUE/FileContentIndex
/russia.mbtiles
.vs/
/.vs/slnx.sqlite
/data/app.sqlite
/бекапы/GitHub.zip
/бекапы/GitHub_V0.1.zip
