################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Web-ASKUE/FileContentIndex
/russia.mbtiles
.vs/
/.vs/slnx.sqlite
/data/app.sqlite
/бекапы/GitHub.zip
/бекапы/GitHub_V0.1.zip
/GitHub.zip
/data/tmp_ais/_noheader.csv
/data/ais.csv
/data/statuses.xlsx
/data/app.sqlite-wal
/data/app.sqlite-shm
