################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Web-ASKUE/FileContentIndex
/russia.mbtiles
.vs/